<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.petertieu.android.mepix">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    //Tells Android that this app uses a camera feature (strongly recommended)
    //So that Google Play Store *could* refuse to install the app if...
    //the user's device does not support this feature
    //android:required="false": means that the app can work fine without the camera (i.e. doesn't
    need camera)
    // BUT some parts may be disabled as a result

    <!--Declare OpenGL ES version 2 for devices that do not support this, as it is used by Google Maps Android API-->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />


    <!-- REQUEST FOR PERMISSIONS -->
    <!-- Permissions to write/read to/from external storage (SD card) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Permissions to use two main permissions part of the LOCATIONS permission group -->
    <!-- ACCESS_COURSE_LOCATION: Uses cell towers and Wifi access points to track address (less accurate) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- ACCESS_FINE_LOCATION: Uses GPS radio to track location (most accurate) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Permission to access internet -->
    <uses-permission android:name="android.permission.INTERNET"/>




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--Declare "list view" activity (as main activity)-->
        <activity android:name=".PixListActivity">
            <intent-filter>

                <!--Declare ACTION-->
                <action android:name="android.intent.action.MAIN"/>

                <!--Declare CATEGORY-->
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>


        <!--Declare "detail view" activity-->
        <activity
            android:name=".PixViewPagerActivity"
            android:label="@string/pix_details"
            android:parentActivityName=".PixListActivity">
            //Adds the Up button to PixViewPagerActivity
            //so when this is pressed, the user moves "up"
            //the hierarchy to: PixListActivity
        </activity>


        <!--Declare File Provider-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.petertieu.android.mepix.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            //android:authorities="com.petertieu.android.mepix.fileprovider": address of
            FileProvider
            NOTE: FileProvider is a private storage in the MePix app
            NOTE: The directory of FileProvider is adjacent to the SQLiteDatabase database
            NOTE: We use the FileProvider as storage for images instead of the SQLiteDatabase
            database,
            as images are files (NOT variables). Also, they are too big for the SQLiteDatabase
            //android:exported="false": only apps with permission could access FileProvider
            //android:grantUriPermissions="true": Gives ability of app to grant other apps
            permission
            to write to FileProvider
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files"/>
            //Hook up the files.xml file to the FileProvider
        </provider>


        <!--Declare MapsActivity activity-->
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".PixViewPagerActivity"
            android:screenOrientation="portrait">
        </activity>
        //android:screenOrientation: locks the activity to portrait orientation



        <!--Declare IntentService - asynchronous activity that fetches location data-->
        <service
            android:name=".FetchAddressIntentService"
            android:exported="false"/>


        <!--Declare API key for Google Maps-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>


        <!--Declare version of Google Play Services used-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>