<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.petertieu.android.mepix">

    <uses-feature android:name="android.hardware.camera"
                  android:required="false"/> //Tells Android that this app uses a camera feature (strongly recommended)
    //So that Google Play Store *could* refuse to install the app if...
    //the user's device does not support this feature
    //android:required="false": means that the app can work fine without the camera (i.e. doesn't need camera)
    // BUT some parts may be disabled as a result


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".PixListActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>


        <activity
            android:name=".PixViewPagerActivity"
            android:label="@string/pix_details"
            android:parentActivityName=".PixListActivity">  //Adds the Up button to PixViewPagerActivity
                                                            //so when this is pressed, the user moves "up"
                                                            //the hierarchy to: PixListActivity
        </activity>




        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.petertieu.android.mepix.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files"/> //Hook up the files.xml file to the FileProvider

        </provider>




    </application>

</manifest>